.board-stats {
  color: $black;
  width: 100%;
  max-width: 500px;
  margin: 20px auto auto;
  text-align: center;
  float: left;

  .col {
    width: 33%;
    display: inline-block;
    float: left;
    font-size: 2em;

    &.best-time {
      width: 100%;
      padding: 10px 0;

      &.blink .score,
      &.blink .score {
        -webkit-animation: blink .3s steps(1) 3;
        -moz-animation: blink  .3s steps(1) 3;
        animation: blink .3s steps(1) 3;
      }
    }

    span {
      width: 100%;
      float: left;

      &.title {
        text-transform: uppercase;
        font-size: 0.6em;
      }

      &.score {
        font-size: 2em;
      }

      &.seconds {
        font-size: 0.5em;
      }
    }
  }
}
