.board {
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 500px;
  max-height: 500px;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;

  &--blink-borders .board__square {
    -webkit-animation: border-blink .3s steps(1) 3;
    -moz-animation: border-blink .3s steps(1) 3;
    animation: border-blink .3s steps(1) 3;
  }

  &--blink-winner .board__square--win div {
    -webkit-animation: blink .3s steps(1) 3;
    -moz-animation: blink  .3s steps(1) 3;
    animation: blink .3s steps(1) 3;
  }

  &__square {
    position: relative;
    height: 33%;
    width: 32%;
    display: inline-block;
    margin: 0;
    padding: 0;
    float: left;
    cursor: pointer;

    &--b-border {
      border-bottom: 3px solid $black;
    }

    &--t-border {
      border-top: 3px solid $black;
    }

    &--lr-border {
      border-left: 3px solid $black;
      border-right: 3px solid $black;
    }

    &--taken {
      div {
        width: 100%;
        height: 100%;
        position: relative;
        will-change: transform;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-animation: appear .2s cubic-bezier(.5,1.8,.1,1.1);
        -moz-animation: appear .2s cubic-bezier(.5,1.8,.1,1.1);
        animation: appear .2s cubic-bezier(.5,1.8,.1,1.1);

        &::before,
        &::after {
          content: '';
          position:absolute;
          left:0;
          right:0;
        }
      }
    }

    &__o div {
      &::before {
        font-size: 15em;
        color: $black;
        top:0;
        bottom:0;
        margin:auto;
        line-height: 0;
        border: 15px solid $black;
        border-radius: 50%;
        margin: 15px;
      }
    }

    &__x div {
      &::before,
      &::after {
        width: 10%;
        height: 90%;
        display: block;
        background: $black;
        border-radius: 3px;
        margin:auto;
      }
      &::before {
        transform: rotate(-45deg);
      }
      &::after {
        transform: rotate(45deg);
      }
    }
  }
}


.board-wrap {
max-width: 500px;
max-height: 650px;
display: block;
height: 100%;
width: 100%;
margin: auto;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
}

.board {


&.blink {
  .square {
    -webkit-animation: border-blink .3s steps(1) 3;
    -moz-animation: border-blink .3s steps(1) 3;
    animation: border-blink .3s steps(1) 3;
  }
}

}
