@-webkit-keyframes border-blink {
    50% {
        border-color: $black;
    }
}

@-moz-keyframes border-blink {
    50% {
        border-color: $black;
    }
}

@keyframes border-blink {
    50% {
        border-color: $black;
    }
}

@-webkit-keyframes blink {
    50% {
        visibility: hidden
    }
}

@-moz-keyframes blink {
    50% {
        visibility: hidden
    }
}

@keyframes blink {
    50% {
        visibility: hidden
    }
}

@-webkit-keyframes appear {
    from {
        -webkit-transform: scale(.3);
        transform: scale(.3)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-moz-keyframes appear {
    from {
        -moz-transform: scale(.3);
        transform: scale(.3)
    }

    to {
        -moz-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes appear {
    from {
        transform: scale(.3)
    }

    to {
        transform: scale(1)
    }
}
