@media (max-width: 425px) {
  .board-wrap {
      max-width: 290px;
      max-height: 290px;
      top: -130px;
  }
  .board-stats {
    .col {
      span {
        &.title {
          font-size: 0.4em;
        }
        &.score {
          font-size: 1em;
        }
      }
    }
  }
}

@media (min-width: 425px) {
  .page {
    .content {
      max-width: 300px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      max-height: fit-content;
    }
  }
}
