.page {
  display: none;
  text-align: center;

  &__head {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &__title {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &__content {
    margin-top: 81px;
    padding: 15px;
    width: inherit;
  }

  &--active {
    display: block;
  }
}
