.validate-form .validate-form--error {
  background-image: url('/assets/svg/cross.svg');
  background-repeat: no-repeat;
  background-position: 97% 10px;
  background-size: 20px;
}

.validate-form .validate-form--valid {
  background-image: url('/assets/svg/check.svg');
  background-repeat: no-repeat;
  background-position: 97% 10px;
  background-size: 20px;
}

.validate-form .validate-form__message {
  display: inline-block;
  color: red;
  padding: 0 0 10px 0;
  font-size: 0.9rem;
  text-align: left;
  width: 82%;
}
