.validate-form {

  &--error {
    background-image: url('/assets/svg/cross.svg');
    background-repeat: no-repeat;
    background-position: 97% 14px;
    background-size: 14px;
  }

  &--valid {
    background-image: url('/assets/svg/check.svg');
    background-repeat: no-repeat;
    background-position: 97% 12px;
    background-size: 17px;
  }

  &__message {
    display: inline-block;
    color: red;
    padding: 0 0 10px 0;
    font-size: 0.9rem;
    text-align: left;
    width: 82%;
  }
}
